.node {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.09);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.node.populated {
  background-color: var(--text-color);
}
